@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');



body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	background: url(../img/pattern.png);
}

.section {
    position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
}
 

ul {
	position: fixed;
	list-style: none;
	position: fixed;
	top: 50%; 
	transform: translateY(-50%);
	left: 0;
	margin-left: 10px; 
	margin-right: auto;
	background: url(../img/4c.jpg);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: .75rem;
	border-radius: 15px;
	box-shadow: 0 0px 15px 0 #2c2c2c;
}

li:nth-child(6) {
	margin-top: 5rem; 
	padding-top: 1.25rem;
	border-top: 2px solid #777777;
}

li + li {
	margin-top: .75rem;
}

a {
	color: #FFF; 
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border-radius: 8px;
	position: relative;
	&:hover, &:focus, &.active {
		background-color: #777777;
		outline: 0;
		
		span { 
			transform: scale(1);
			opacity: 1;
		}
	}
	
	i {
		font-size: 1.375rem;
	}

	img {
		width: 2.5rem;
		height: auto;
	}
	
	span {
		position: absolute;
		background-color: #777777;
		white-space: nowrap;
		padding: .5rem 1rem;
		border-radius: 6px;
		left: calc(100% + 1.5rem);
		transform-origin: center left;
		transform: scale(0);
		opacity: 0;
		transition: .15s ease;
		&:before {
			content: "";
			display: block;
			width: 12px;
			height: 12px;
			position: absolute;
			background-color: #777777;
			left: -5px;
			top: 50%;
			transform: translatey(-50%) rotate(45deg);
			border-radius: 3px;
		}
	}
	
}