
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: url(../public/img/img/2a.png);
    align-items: center;
    justify-content: center;
}


.title h1 {
    letter-spacing: 5PX;
    position: relative; /* Asegúrate de que el texto esté por encima del pseudo-elemento */
    color: #d1ad7b;
    font-size: 6em;
    font-family: "MedievalSharp", cursive;
    margin: 0px;
    font-weight: 100;
    text-shadow: 5px 5px 2px rgb(31, 24, 17); /* Ajusta según tus preferencias */
}

.title {
    background: url(../public/img/img/prueba.jpg);
    background-size: cover;
    position: relative;
    margin-top: 20px ;
    border: 10px solid #a48860;
    border-radius: 70px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
}

.information {
    margin-top: 30px;
    background: #442a11;
    display: flex;
    align-items: center;
    align-content: center;
    color:#dbc7b0;
    width: 1200px;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.2em;
    text-align: justify;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.home-container{
    width: 100%;
    padding-top: 30px;
    align-items: center;
    height: 380px;
    gap: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.profile-card{
    position: relative;
    width: 250px;
    height: 250px;
    background: url(../public/img/img/bg-white.png);
    padding: 25px;
    border-radius: 50%;
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
    transition: all .4s;
    margin: 0 20px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
}
.profile-card:hover{
    border-radius: 10px;
    height: 280px;
}
.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
}
.profile-card:hover img{
    border-radius: 10px;
    transform: translateY(-70px);
}
.img img{
    border: #222 5px solid;
    object-fit: fill;
    width: 100%;
    border-radius: 50%;
    transition: all .4s;
    z-index: 99;
}
.caption{
    text-align: center;
    transform: translateY(-90px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}
.profile-card:hover .caption{
    opacity: 1;
    pointer-events: all;
}
.caption h3{
    font-size: 25px;
    color: #000;
    font-weight: 600;
}
.caption p{
    font-size: 19px;
    font-weight: 500;
    margin: 2px 0 12px 0;
}
.caption .social-links i{
    font-size: 25px;
    margin: 0 3px;
    cursor: pointer;
    color: #000;
    transition: all .4s;
}

.caption .social-links i:hover{
    color: #000;
}

